<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div id="toggleContainer" class="top-container visible">
      <div class="popup-container">
        <p id="typingWords"></p>
      </div>
    </div>

    <div id="container">
      <p id="descritionPara" class="description">
        Once you have finished typing this lesson
      </p>
      <button id="startButton" class="submit-button">Start Timer</button>
      <p id="timerId"></p>

      <textarea
        id="inputContainer"
        class="input-container"
        rows="10"
        value="input"
      ></textarea
      ><br />
      <button id="submitButton" class="submit-button">Submit</button>
    </div>
  </body>
</html>
